doctype 5
html(ng-app="app")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title=title
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/main.css')
		script(src="/js/libs/modernizr/modernizr-2.6.2.min.js")
		script(src="/js/libs/angular/angular.min.js")
		script(src="/js/libs/angular/angular-resource.min.js")
		script(src="/js/libs/moment/moment.min.js")
		script(src="/js/app.js")
	body
		section.bar.nav
			a.current(name="show-main-menu") Issues
			ul.main-menu(ng-controller="loadLink")
				li(ng-repeat="link in links", ng-class="isActive(link.url)")
					a(href="\#{{link.url}}") {{link.name}}
			ul.main-menu-spinner(style="display: none")
				li(ng-repeat="link in links")
			span.action(ng-controller="loadAction")
				a.action-icon(ng-repeat="action in actions", name="{{action.name}}") {{action.symbol}}
				span.profile-menu
					a.action-icon(name="show-profile-menu") me
					ul.profile-menu-spinner(ng-controller="loadProfileMenu", style="display: none")
						li(href="#/", ng-repeat="item in items") {{item.name}}
		block content
		script(src="/js/libs/jquery/jquery.min.js")
		script(src="/js/plugins.js")
		script(src="/js/main.js")