doctype 5
html(ng-app="app")
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		title angular-lqfb-redesign
		link(rel='stylesheet', href='css/app.css')
		script.
			window.brunch = window.brunch || {};
			window.brunch = {
				enabled: true
			};
		script(src="js/vendor.js")
		script(src="js/app.js")
	body
		section.bar.nav(ng-controller="NavCtrl")
			a.current(name="show-main-menu") Issues
			ul.main-menu
				li(ng-repeat="link in links", ng-class="isActive(link.url)")
					a(href="\#{{link.url}}") {{link.name}}
			ul.main-menu-spinner(style="display: none")
				li(ng-repeat="link in links")
			span.action
				a.action-icon(ng-click="filterCollapsed=!filterCollapsed") Filter
				a.action-icon(ng-repeat="action in actions", name="{{action.name}}") {{action.symbol}}
				span.profile-menu.dropdown
					a.action-icon.dropdown-toggle(name="show-profile-menu") me
					ul.dropdown-menu
						li(ng-repeat="item in items") {{item.name}}
			.filter(collapse="filterCollapsed")
				.row.shortcut
					.shortcut-wrapper.span1
						label Shortcut
					.span11
						ul
							li 
								a Latest vote results
							li
								a Voted by delegation
							li
								a
									Not yet voted
				.row.customize
					.customize-wrapper.span1
						label Customize
					.span11.radiolist
						.row
							label.radio.inline
								input(type="radio", ng-model="filters.unit", value="global")
								| All units
							label.radio.inline
								input(type="radio", ng-model="filters.unit", value="myunits")
								| My units ( All areas )
							label.radio.inline
								input(type="radio", ng-model="filters.unit", value="myareas")
								| My areas
						.row
							label.radio.inline
								input(type="radio", ng-model="filters.issue", value="all")
								| All issues
							label.radio.inline
								input(type="radio", ng-model="filters.issue", value="open")
								| Open
							label.radio.inline
								input(type="radio", ng-model="filters.issue", value="closed")
								| Finished
							label.radio.inline
								input(type="radio", ng-model="filters.issue", value="cancelled")
								| Cancelled	
						.row
							label.radio.inline.extend
								-
							label.radio.inline
								input(type="radio", ng-model="filters.stage", value="any")
								| Any phase
							label.radio.inline
								input(type="radio", ng-model="filters.stage", value="new")
								| New
							label.radio.inline
								input(type="radio", ng-model="filters.stage", value="accepted")
								| Disccusion
							label.radio.inline
								input(type="radio", ng-model="filters.stage", value="half_frozen")
								| Half Frozen
							label.radio.inline
								input(type="radio", ng-model="filters.stage", value="frozen")
								| Voting
						.row(ng-show="filters.stage == 'frozen'")
							label.radio.inline.extend
								|-
							label.radio.inline.extend
								|-	
							label.radio.inline
								input(type="radio", ng-model="filters.voting", value="any")
								| Any
							label.radio.inline
								input(type="radio", ng-model="filters.voting", value="voted")
								| Voted
							label.radio.inline
								input(type="radio", ng-model="filters.voting", value="not_voted")
								| Not voted
						.row
							label.radio.inline
								input(type="radio", ng-model="filters.interest", value="any")
								| Any
							label.radio.inline
								input(type="radio", ng-model="filters.interest", value="issue")
								| Interested
							label.radio.inline.extend(ng-show="filters.interest == 'issue'")
								|-
							label.radio.inline(ng-show="filters.interest == 'issue'")
								input(type="radio", ng-model="filters.interest", value="initiated")
								| Initiated
							label.radio.inline(ng-show="filters.interest == 'issue'")
								input(type="radio", ng-model="filters.interest", value="supported")
								| Supported
							label.radio.inline(ng-show="filters.interest == 'issue'")
								input(type="radio", ng-model="filters.interest", value="potentially_supported")
								| Potentially supported	
		section#content-wrapper(ng-view)